* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div {
  border: 5px solid black;
  width: 100%;
  flex: 1;
  overflow: scroll;
}

#console {
  background: black;
  color: rgb(206, 176, 176);
}

.string {
  animation: str 1s linear infinite;
}

#result {
  background: black;
  color: rgb(206, 176, 176);
}

#branch {
  position: relative;
  background-color: black;
}

#branch > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#branch > div > div:nth-child(odd) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#branch > div > div:nth-child(even) {
  width: 30px;
  height: 4px;
}

@keyframes str {
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}
